.h1 {
    font-size:43px;
    font-weight: 300;
}

.h2 {
    font-size:25px;
    font-weight: 400;
    margin-top:2rem;
    margin-bottom:2rem;

    @include from(medium) {
        font-size:31px;
        margin-top:4rem;
        margin-bottom:4rem;
    }
}

.h4 {
    font-size:14px;
    font-weight: 700;
    margin-top:1rem;
    margin-bottom:1rem;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
    font-family: 'Montserrat', sans-serif;
}