.Footer {
    margin-top: 4rem;
    padding: 2rem 0;
    background-color: $secondColor;

    @include from(medium) {
        padding: 4rem 0;
    }
    &__title {
        margin-bottom: 2rem;
        color: hsla(0,0%,100%,.9);
    }
    &__left {
        text-align: center;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        @include from(medium) {
            text-align: left;
            width: 50%;
            align-items: flex-start;
        }
    }

    &__description {
        margin: 0;
        font-size: 1.6rem;
        font-weight: 1.6;
        color: hsla(0,0%,100%,.7);
    }
}