.l-container,
[class^="l-container--"] {
    width: 95%;
    max-width: 1200px;
    margin:0 auto;
}

.l-container--row {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.l-container--sections {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.title-section {
    border-left: 10px solid $accentColor;
    padding-left: 1rem;
}

.grid-6 {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(180px, 1fr));
    gap: 20px;
}

.grid-3 {
    display: grid;
    gap: 20px;
    grid-template-columns: repeat(2, 1fr);

    @include from(small) {
        grid-template-columns: repeat(auto-fill, minmax(160px, 1fr));
    }
}

.left {
    width: 100%;

    @include from(x-large) {
        width: 69%;
    }
}

.right {
    width: 100%;

    @include from(x-large) {
        width: 29%;
    }
}