.l-container,
[class^="l-container--"] {
    width: 95%;
    max-width: 1200px;
    margin:0 auto;
}

.l-container--row {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.l-container--sections {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.title-section {
    border-left: 10px solid $accentColor;
    padding-left: 1rem;
}

.grid-6 {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(180px, 1fr));
    gap: 20px;
}

.grid-3 {
    display: grid;
    gap: 20px;
    grid-template-columns: repeat(2, 1fr);

    @include from(small) {
        grid-template-columns: repeat(auto-fill, minmax(160px, 1fr));
    }
}

.left {
    width: 100%;

    @include from(x-large) {
        width: 69%;
    }
}

.right {
    width: 100%;

    @include from(x-large) {
        width: 29%;
    }
}

.Button,
[class*="Button--"] {
    cursor: pointer;
    border-radius: 20px;
    color:#fff;
    font-size: 2rem;
    border: 0;
}

.Button--accent {
    padding:1rem;
    background-color: $accentColor;
    
}

.Button--search {
    padding:.4rem 2rem;
    background-color: $accentColor;
    
}

.Body-login {
    height: 100vh;
    background-image: url(../img/bg.png);
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
    background-position: 80% 75%;

    @include from(large) {
        background-position: bottom;
    }

    &::before {
        content: '';
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        background-color: rgba($firstColor, .7);
    }
}