.Main,
[class^="Main--"] {
    margin-top: 2rem;
    @include from(large){
        position: relative;
        z-index: 10000;
    }
}

.Main--top {
    @include from(large){
        margin-top: -50px;   
    }
}