.Calendar {
    display: grid;
    // grid-template-columns: repeat(7, 1fr);
    grid-template-columns: repeat(auto-fill, minmax(162px, 1fr));;
    gap: 1rem;

    &__day {
        font-size: 1.6rem;
        text-align: center;
        padding: 1rem 0;
        background-color: $secondColor;

        margin-bottom:1rem;
    }

    &__content {
        display: grid;
        gap: 1rem;
        grid-auto-rows: max-content;
        height: 0;
        overflow-y: scroll;
        transition: height .3s;

        scrollbar-color: $accentColor transparent;
        scrollbar-width: thin;

        &::-webkit-scrollbar-track {
          background-color: transparent; /*color de la barra de fondo*/
        }
        &::-webkit-scrollbar-thumb {
          background-color: $accentColor; /*color del manejador*/
          border-radius: 12px;
        }
        &::-webkit-scrollbar {
          width: 4px; /*ancho del scroll vertical*/
          height: 4px; /*alto del scroll horizontal*/
        }

        
        @include from(small) {
            grid-auto-rows: auto;
            height: auto;
            overflow-y: initial;
        }

        &.collaped {
            height: 200px;
        }

    }
}
